.cartao-base {
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease;
}

.cartao-base:hover {
    transform: translateY(-15px);
}

.cartao-base a {
    align-self: flex-start;
    margin-top: auto;
}

.row > div {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.cartao1 { background-color: #00796b !important; } 
.cartao2 { background-color: #009688 !important; } 
.cartao3 { background-color: #26a69a !important; } 
.cartao4 { background-color: #00838f !important; } 
.cartao5 { background-color: #00695c !important; } 
.cartao6 { background-color: #43a047 !important; } 
.cartao7 { background-color: #5e35b1 !important; } 
.cartao8 { background-color: #3949ab !important; } 
.cartao9 { background-color: #1e88e5 !important; } 
.cartao10 { background-color: #039be5 !important; } 
.cartao11 { background-color: #0288d1 !important; } 
.cartao12 { background-color: #6d4c41 !important; } 
.cartao13 { background-color: #8e24aa !important; } 
.cartao14 { background-color: #d81b60 !important; } 
.cartao15 { background-color: #c2185b !important; } 
.cartao16 { background-color: #ad1457 !important; } 
.cartao17 { background-color: #f57c00 !important; } 
.cartao18 { background-color: #ef6c00 !important; } 
.cartao19 { background-color: #ff8f00 !important; } 
.cartao20 { background-color: #fbc02d !important; } 
.cartao21 { background-color: #afb42b !important; } 
.cartao22 { background-color: #689f38 !important; } 
.cartao23 { background-color: #00acc1 !important; } 
.cartao24 { background-color: #3949ab !important; } 

